:root {
  --branding-color: #f6f6f5;
  --secondary-color: #f6f6f5;
}

nav {
  display: flex;
  justify-content: flex-end;
}
.menu-items {
  color: black;
  text-decoration: none;
  padding: 4px;
}

a {
  color: black;
  margin: 20px 20px;
}

a:hover {
  text-decoration: none;
  color: black;
}

.hero {
  text-align: center;
  color: #7323a8;
  background-color: var(--branding-color);
  padding: 75px;
}

hero h1 {
  font-size: 64px;
  color: black;
  padding: 30ox;
}

.my-decription,
p {
  padding: 20px;
}

.my-projects,
.my-decription {
  text-align: center;
  padding-top: 50px;
}
.my-projects p {
  font-size: 20px;
}

.projects-decription {
  padding: 30px;
}

.reading-img {
  width: 75%;
}

.contact-me {
  display: flex;
  justify-content: center;
  padding: 50px;
}

button {
  padding: 30px 50px;
  background-color: var(--branding-color);
  box-shadow: gray;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 30px;
}

footer a {
  padding: 10px;
}
